{% extends 'base.html' %}
{% load static %}
{%block content %}
	<head>
      

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        
        
        <link rel="stylesheet" type="text/css" href="{% static 'css/appnews.css'%}">
        <script type="text/javascript" src="{% static 'js/appnews.js' %}"></script>
        <title>News Details</title>
        <style type="text/css">
            #newsHeader {
                color: #7C4646;
                text-align: center;
            }
    
        </style>
    

        
    </head>

    <body  style="background-color: #FCD581;">
        <div class="text-setting container-fluid text-center" style="margin: 50px;">
            <h1>What's Going On?</h1> <br><br>    

            <div class="news">
                <h2 style="text-align: left;">Entertainment</h2>
                <div class="container-fluid">        
                    <div class="row" style="color: #ED6A5A; margin: 50px; ">
                        {% for news in newsentertainment %}
                        <div class="col-12 col-md-7 col-lg-4" id="cardnews">
                            <div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="250ms">
                                <img class="img-donasi" src={{news.photo}} alt={{news.title}} style="width:100%">
                                <!-- Course Content -->
                                <div class="course-content" style="background-color: white;">
                                    <h4 style="font-style: bold; padding: 20px 20px 3px;">{{news.title}}</h4>
                                    <p class="card-text"><small>{{news.date}}</small></p>
                                    <h5 style="color: #7C4646; padding: 1px 20px 3px;">{{news.description}}</h5>
                                    <div class="card-footer">
                                        <div class="text-center">
                                            <a href="{{news.seemore}}" class="btn btn-primary" style="background-color: #ED6A5A; border-color: #ED6A5A">See more.</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            
                <h2 style="text-align: left;">Travel</h2>
                <div class="container-fluid">
                    <div class="row" style="color: #ED6A5A; margin: 50px; ">
                        {% for news in newstravel %}
                        <div class="col-12 col-md-7 col-lg-4" id="cardnews">
                            <div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="250ms">
                                <img class="img-donasi" src={{news.photo}} alt={{news.title}} style="width:100%">
                                <!-- Course Content -->
                                <div class="course-content" style="background-color: white;">
                                    <h4 style="font-style: bold; padding: 20px 20px 3px;">{{news.title}}</h4>
                                    <p class="card-text"><small>{{news.date}}</small></p>
                                    <h5 style="color: #7C4646; padding: 1px 20px 3px;">{{news.description}}</h5>
                                    <div class="card-footer">
                                        <div class="text-center">
                                            <a href="{{news.seemore}}" class="btn btn-primary" style="background-color: #ED6A5A; border-color: #ED6A5A">See more.</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            
                <h2 style="text-align: left;">Sport</h2>
                <div class="container-fluid">
                    <div class="row" style="color: #ED6A5A; margin: 50px; ">
                        {% for news in newssport %}
                        <div class="col-12 col-md-7 col-lg-4" id="cardnews">
                            <div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="250ms">
                                <img class="img-donasi" src={{news.photo}} alt={{news.title}} style="width:100%">
                                <!-- Course Content -->
                                <div class="course-content" style="background-color: white;">
                                    <h4 style="font-style: bold; padding: 20px 20px 3px;">{{news.title}}</h4>
                                    <p class="card-text"><small>{{news.date}}</small></p>
                                    <h5 style="color: #7C4646; padding: 1px 20px 3px;">{{news.description}}</h5>
                                    <div class="card-footer">
                                        <div class="text-center">
                                            <a href="{{news.seemore}}" class="btn btn-primary" style="background-color: #ED6A5A; border-color: #ED6A5A">See more.</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

        
                <h2 style="text-align: left;">Food</h2>
            
                <div class="container-fluid">
                    <div class="row" style="color: #ED6A5A; margin: 50px; ">
                        {% for news in newsfood %}
                        <div class="col-12 col-md-7 col-lg-4" id="cardnews">
                            <div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="250ms">
                                <img class="img-donasi" src={{news.photo}} alt={{news.title}} style="width:100%">
                                <!-- Course Content -->
                                <div class="course-content" style="background-color: white;">
                                    <h4 style="font-style: bold; padding: 20px 20px 3px;">{{news.title}}</h4>
                                    <p class="card-text"><small>{{news.date}}</small></p>
                                    <h5 style="color: #7C4646; padding: 1px 20px 3px;">{{news.description}}</h5>
                                    <div class="card-footer">
                                        <div class="text-center">
                                            <a href="{{news.seemore}}" class="btn btn-primary" style="background-color: #ED6A5A; border-color: #ED6A5A">See more.</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            
        </div>
        {% include "footer.html" %}




    </body>
    {% endblock %}
    
</html>