{% extends 'base.html' %}
{% load static %}
{% block content %}
	<head>
     
            
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
 
      
        <link rel="stylesheet" type="text/css" href="{% static 'css/appnews.css'%}">
        <script type="text/javascript" src="{% static 'js/appnews.js' %}"></script>
        <title>Contacts</title>
       
        <style>
        
/* #alis {
    border-radius: 45% 55% 42% 58% / 30% 45% 55% 70%;
}

#alka {
    
    border-radius: 48% 52% 67% 33% / 53% 38% 62% 47% ;
    
}

#firdhan {
    
    border-radius: 36% 64% 43% 57% / 61% 50% 50% 39% ;
    
}

#dhira {
    
    border-radius: 56% 44% 50% 50% / 71% 61% 39% 29% ;
 
} */


.profiles img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin: 1rem 2rem;
    padding: 0.5rem 2rem 1rem;
    
    
}

.profiles {
    margin: 2rem 0;
}


/*.circular-portrait {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
} */

#alis, #alka, #firdhan, #dhira {
  width: 25em;
  height: 25em;
  position: relative;
  /* width: 200px;
  height: 200px; */
  overflow: hidden;
  border-radius: 50%;
}
</style>
    </head>

    <body  class="body-background" id = "contacts" background ="https://i.imgur.com/6UuAbzo.jpg" >
        <!--h1> Gambar bergerak</h1-->
        

       
        
        <br><br>
        <div class="container" style="text-align: center; margin-top: 2em">
            <h1 id="subscribeus">Meet the engineers</h1> <br><br><br>
            <!--<a href="https://www.google.com/maps/d/u/0/viewer?oe=UTF8&msa=0&source=embed&ie=UTF8&mid=1EZ9tJ9S6nT2sMXbUxYbXp_1YC_0" id="imagemaps"><img src="https://i.imgur.com/uSeAlln.jpg" alt="maps" width=400px height=350px></a> -->
            <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7848.43720388178!2d106.82418619072818!3d-6.363971873711031!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd1d3cd6ed561db12!2sPerpustakaan+Fakultas+Ilmu+Komputer!5e0!3m2!1sid!2sid!4v1539873390725" 
            width="300" height="225" frameborder="0" style="border:0; margin: 0;" allowfullscreen></iframe> -->
            <div class="profiles">
                    <img id="alis" title="Alya Isti Safira" src="{% static 'alis.jpg' %}">
                    <img id="firdhan" title="Firdhan Hilmy PUrnomo" src="{% static 'firdhan.jpg' %}">
                    <img id="alka" title="M. Alkautsar Maktub" src="{% static 'alka.jpg' %}">
                    <img id="dhira" title="Nadhira Shafa Thalia" src="{% static 'dhira.jpg' %}">
                </div>
            
           
            
        </div>

        <div class="container" style="background-color: black; width: 100%; color: white; font-family: 'Bree Serif', serif;">
            <div class="row-fluid">
                <div class="span8">
                    <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" allowfullscreen src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7848.43720388178!2d106.82418619072818!3d-6.363971873711031!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd1d3cd6ed561db12!2sPerpustakaan+Fakultas+Ilmu+Komputer!5e0!3m2!1sid!2sid!4v1539873390725" ></iframe>
                </div>
                
                <div class="span4">
                    
                    <div style="text-align: left; display: inline;">
                            <h2>Skoole</h2>
                        <h4><a style="color:pink;" href="{% url 'faq' %}">FAQ </a></h4>
                        <h4><a style="color:pink;" href="{% url 'contacts' %}">Contact Us</a></h4>
                        
                </div>
                <br>
                    Programming Task 1<br>
                    Web Design and Development<br>
                    Faculty of Computer Science<br>
                    University of Indonesia<br>
                    <br>
                    © 2018 | All Rights Reserved</p>
                    <!-- <p>Contact Us<br>
                        Phone : 08xxxxxxxx<br>
                        Email : skoole@gmail.com<br></p> -->
                    </div>
            </div>
        </div>

            <div class="container" style="color: white; margin-bottom: 10em;">
                    
            </div>

       
    </body> 
    {% endblock %}

    
