{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
{%block content %}


	<head>
   
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        
        
        <link rel="stylesheet" type="text/css" href="{% static 'css/appnews.css'%}">
        <script type="text/javascript" src="{% static 'js/appnews.js' %}"></script>
        <title>FAQs</title>
       
        
    </head>

    <body class= "body-background" style= "background-color: #ED6A5A; color: white;">

        <!--h1> Gambar bergerak</h1-->


        <div class="text-setting container-fluid text-center">
            <br><br><br><h1>Frequently Asked Question</h1>
            <br><br>
            <h3 id="faqtitle">Where is our office located?</h3><br><br>
            <div class="rcorners">
                <h3>Our office is located at Faculty of Computer Science, Universitas Indonesia</h3>
            </div>
            <h3 id="faqtitle">How to regist my events?</h3><br><br>
            <div class="rcorners">
                <h3>We’re sorry but you can only choose events that are registered by us.</h3>
            </div>
            <h3 id="faqtitle">What are member’s privileges?</h3><br><br>
            <div class="rcorners">
                <h3>You can see the events’ participants so you won’t be alone. Isn’t that great?</h3>
            </div>
            <br><br><br>
            
        </div>

        {% endblock %}
    </body>
    
