{% include "base.html" %}
{% load static %}
{% block content %}



	<head>
 
        
        <link rel="stylesheet" type="text/css" href="{% static 'css/appnews.css'%}">
        <script type="text/javascript" src="{% static 'js/appnews.js' %}"></script>
        <title>News</title>
        
    </head> 

    <body class="body-background" background = "https://i.imgur.com/QLdPVtN.png">

        <!--h1> Gambar bergerak</h1-->
  
        <div class="text-setting container-fluid text-center">
            <br><br><br><h3>News</h3>
            <p class="main-text-setting">What's Going On?</p>
            <div class = "btn"><a href= "{% url 'appnews' %}"><input type="submit" value= "See News" action = ""></a></div>
            <br><br><br>
           
        </div>

        <!--div class = "body row" id="frontnews" > 
                <div class = "row col-md-7 col-sm-12">
                    <div class ="h1 col-sm-10"> 
                        <h3>News</h3>
                        <h1 style="font-size: 2em;">What's going on?</h1> <br>
                        <a href="{% url 'appnews' %}" class="btn btn-danger" role="button">See News</a>
                        <br><br><br>
                        <a href="{% url 'contacts' %}" class="btn btn-danger" role="button">Contacts</a>
                        <a href="{% url 'faq' %}" class="btn btn-danger" role="button">FAQ</a>
                    </div>    
                    </div-->


    

        {% endblock %}
    </body>
