/* Make sure that padding behaves as expected */
* {box-sizing:border-box}



body, html {
    font-family: 'Bree Serif', serif !important;
    height: 100%;
    margin:0;
}



.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.jumbotron{
    text-align: center;
    margin: 0%;
    padding: 10%;
}

.body-background {
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-position: 100% 100%;
    background-color: #7C4646;
	
}

#frontnews{
    padding: 10%;
    
    width: 100%;
    height: 100%; 
    
     
    background-position:100% 100%;
    color: white;

    background-color: #FFAC81;
    background-position: 100% 100%;
    background-image: url("https://i.imgur.com/QLdPVtN.png");
    mix-blend-mode: normal;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover; 
    
}

.row #cardnews{
    border-radius: 25px;
    /*border: 2px solid black;*/
    padding: 10px; 
    width: 50%;
    height: 300%; 
    overflow: hidden;
    
}

/*#contacts{
    background-image: url("https://i.imgur.com/6UuAbzo.jpg");
    padding: 10%;
    display: block;
    color: #FCD581;

    

    position: absolute;
    width: 100%;
    height: 661px;
    left: 0px;
    top: 0px;

   

}*/

#faq{
    background-color: #ED6A5A;
    color: white;
}

#contacts2{
    /* Rectangle 4 */

    position: absolute;
    width: 100%;
    height: 458px;
    left: 0px;
    top: 661px;

    background: #7C4646;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

#faqtitle{
    float: left;
}

.rcorners {
    border-radius: 25px;
    border: 2px solid white;
    padding: 10px; 
    margin: 10px;
    width: 100%;
    height: 200%; 
    overflow: hidden;
}



#subscribeus{
    float: left;
    color: white;
}

#imagemaps{
    float:right;
}
