{% extends "base.html" %}
{% load static %}
{% block content %}

<head>
	
        <title>Skoole.</title>
        <style>
            h5, h3 {
                font-family: Bree Serif;
            }
        </style>
    
</head>
<body class = "body" background = "{% static '../static/homepage.png' %}">



<div class = "container-fluid row" > 
    <div class = "col-sm-12 col-md-7">
             <br><br> <br><br><br>
        <div class ="SkooleFont">
            Skoole.
            <p class = "h0"> A place for you to have fun</p>
        </div>
    </div>

    {% if user.is_authenticated %}
    <div class = "col-sm-12 col-md-5">
            <br><br><br><h3 style="font-size: 3em; color: white; ">Welcome, {{ user.get_full_name }}</h3><br>
            <!-- <h5 style="font-size: 1em; color: white;">Continue straight to our event page.</h5>
            <div class = "btn col-md-5 col-sm-5"><a href= "{% url 'event_page' %}"><input type="submit" value= "Event Page" action = ""></a></div> -->

        
      
    </div>
    </div>
    <div class = " row" > 
            <div class = "col-sm-12 col-md-7"></div>
        
        
            <div class = "col-sm-10 col-md-5">
                <br><br> <br>
                    <!-- <div class = "row w3-center">
                        <div class = "btn col-md-5 col-sm-5"><a href= "{% url 'member' %}"><input type="submit" value= "Sign Up" action = ""></a></div>
                        <div class = "btn col-md-7 col-sm-5"><a href = "{% url 'formEvent' %}"> <input type="submit" value= "Book Event" action = ""></a></div>
                    
                    </div> -->

                    <br><br><br><br>
        
              
            </div>
    {% else %}
    <div class = "col-sm-12 col-md-5">
        
      
    </div>
    </div>
    <div class = " row" > 
            <div class = "col-sm-12 col-md-7"></div>
        
        
            <div class = "col-sm-10 col-md-5">
                <br><br> <br>
                    <div class = "row w3-center">
                        <div class = "btn col-md-5 col-sm-5"><a href= "{% url 'member' %}"><input type="submit" value= "Sign Up" action = ""></a></div>
                        <div class = "btn col-md-7 col-sm-5"><a href = "{% url 'formEvent' %}"> <input type="submit" value= "Book Event" action = ""></a></div>
                        <div class = "btn col-md-11 col-sm-5"><a href= "{% url 'social:begin' 'google-oauth2' %}"><input type="submit" value= "Log in with Google" action = ""></a></div>
                    
                    </div>

                    <br><br><br><br>
        
              
            </div>
            {% endif %}

            <br><br>
            
</div>
{% include "footer.html" %}
</body>
{% endblock %}