{% extends "base.html" %}
{% load static %}
{% block content %}


<head>
	
    <title>Join us now</title>
    
</head>
<body class = "body" background = "{% static '../static/homepage.png' %}">
<div class = " row" > 
    <div class = "row col-md-7 col-sm-12">
        <div class ="h1 col-sm-10"> 
            <br>Register Now  
              
            <div class = "h2 ">    
            Join and have fun with us! 
        </div>    
        </div>
       
     
    </div>

    <div class = "col-md-5 col-sm-12">
        <form action="" method="POST" class = "tab4 col-sm-12">
            <br><br>
            {% csrf_token %} <br> 
            {% for member in registration %}
           
            <div class = "regForm label_tag ">{{ member.label_tag }} <br> {{ member }}</div>
            
            {% endfor %}


            <div class = "row col-sm-12 ">
                <div class = "tab3 col-md-6 col-sm-12"> 
                    <a href ="{% url 'result' %}"><input  type="submit" value= "Register Now" ></a></div> <br><br>
                <br><br>
                <div class = "col-md-6   col-sm-12"></div>
               
            </div>
         
        </form>
    </div>
    {% include "footer.html" %}
</div>
</body>
{% endblock %}