{% extends "base.html" %}
{% load static %}
{% block content %}

<head>
	
    <title>Congratulations!</title>
    
</head>


<body class = "body" background = "{% static '../static/homepage.png' %}">
<div class = "body container-fluid row" > 
    <div class = "col-sm-12 col-md-12">
            <br><br><br><br> <br><br> 
        <div class ="result">
            Congratulations!
        
            <p class ="result2">You are now a member</p>
            
        </div>
    </div>

    <div class = "col-sm-12 col-md-5"></div>
    </div>
    <div class = "container-fluid row" > 
            <div class = "col-md-4"></div>  
            <div class = "row  col-md-8 col-sm-12">
                
                    <div class = "row col-md-12">
                        <div class = "tab2 col-md-12 col-sm-12 "><a href = "{% url 'landingpage' %}" ><input type="submit" value= "Home" action = ""></a></div>
                        <div class = "tab col-md-12 col-sm-12 "><a href = "{% url 'formEvent' %}"><input type="submit" value= "Book Event" action = ""></a></div>   
                    </div>
                    <div class = "row col-sm-5 "></div>
       
            </div>
</div>
</body>
{% endblock %}