{% extends "base.html" %}
{% load static %}
{% block content %}

<body class = "body" background = "{% static '../static/homepage.png' %}">
<div class="row">
    <div class="row col-md-6 col-sm-12" >
        <div class="h1 cl-sm-10">
            <br>
            <h1 style="text-align:center">Welcome</h1>
            <div class="h2">
                Join and have fun with us
            </div>
        </div>
    </div>

    <div class="col-md-6 col-sm-12">
        <br><br>

        <form action="" method="POST" >
            {% csrf_token %} <br>
            {% for field in form %}

            <div class="regbr label_tag">
                {{ field.label_tag }}
                <br>
                {{ field }}
            </div>
            {% endfor %}
            {{ form.errors }}
            
            <div class="container" style="align-content: center">
                <a href="{% url 'success' %}"><input type="submit" name="submit" value="Register Event"></a>
            </div>
        </form>
        

    </div>
</div>
</body>

{% endblock %}