{% extends "base.html" %}
{% load static %}
{% block content %}

{% if user.is_authenticated %}
<body class = "body" background = "{% static '../static/homepage.png' %}">
    <div class='container' id='part-container'>
        <div>
            <h2 class="h1">Your Participated Events</h2>
        </div>

        <div class='flex-container'>
            <div id="participate">
                <h4 class="h2">You have participated:</h4>
            </div>
            <div id="total">
                <h4 class="h2">{{ count }} event</h4>
            </div>
        </div>

        <div id="table-event" class="table-responsive" style="display:none;">
            <table class="table table-hover">
                <thead>
                    <tr class="table-success">
                        <th scope="col">Event</th>
                        <th scope="col">Time</th>
                    </tr>
                </thead>
                <tbody id="event_list">
                {% for i in data %}
                    <tr class="table-primary">
                        <td>{{ i.judul }}</td>
                        <td>{{ i.waktu }}</td>
                    </tr>`
                {% endfor %}
                </tbody>
            </table>

            {% include "footer.html" %}
    </div>
</body>
{% else %}
<script>alert("Warning : You have to login first before seeing this page")</script>
{% endif %}

{% endblock %}

