{% extends "base.html" %}
{% load static %}
{% block content %}

<body class = "body" background = "{% static '../static/homepage.png' %}">
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="result">
                <br><br>
                Congratulations!
                <p class="result2">You have joined the event!</p>
                <div class="contaier-fluid row">
                    <div class="col-md-12">
                        <a href="{% url 'landingpage' %}"><input type="submit" value="Home"></a>
                        <a href=""><input type="submit" value="Event"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

{% endblock %}