
    /*===========LOADING PAGE=================*/

    .spinner {
        margin: 100px auto;
        width: 40px;
        height: 40px;
        position: relative;
        text-align: center;
        
        -webkit-animation: sk-rotate 2.0s infinite linear;
        animation: sk-rotate 2.0s infinite linear;
      }
      
      .dot1, .dot2 {
        width: 60%;
        height: 60%;
        display: inline-block;
        position: absolute;
        top: 0;
        background-color: #333;
        border-radius: 100%;
        
        -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
        animation: sk-bounce 2.0s infinite ease-in-out;
      }
      
      .dot2 {
        top: auto;
        bottom: 0;
        -webkit-animation-delay: -1.0s;
        animation-delay: -1.0s;
      }
      
      @-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
      @keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}
      
      @-webkit-keyframes sk-bounce {
        0%, 100% { -webkit-transform: scale(0.0) }
        50% { -webkit-transform: scale(1.0) }
      }
      
      @keyframes sk-bounce {
        0%, 100% { 
          transform: scale(0.0);
          -webkit-transform: scale(0.0);
        } 50% { 
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
        }
      }
      /*===========LOADING PAGE=================*/







body{
    
    background-position: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;  
}
.body{
    background-color: #FFAC81;
    background-position: 100% 100%;
    background-image: url(./homepage.png);
    mix-blend-mode: normal;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover; 
}

.Skoole{
    font-family: Bree Serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 30px;
    text-align: center;
    color: #ffffff;
}


.sticky {
    position: fixed;
    top:0;
    right:0;
    width: 35%;
  }
.sticky2 {
    position: fixed;
    top:0;
    width: 5%;
  }
  
  
#share-button{
    border-radius: 20px;
    border: 1px solid #ED6A5A; 
    background-color: #FFFFFF;
    color: #ED6A5A;
    font-size:25px; 
    width:30%;
}
.navbarFixed{
    overflow: hidden;
}
.navbarFixed a {
    float: left;
    display: block;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 22px;
  }
  
  .navbarFixed a:hover {
    background-color: #ED6A5A;

  }
  

.SkooleFont{ 
    font-family: Bree Serif;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    text-align: left;
    color: #ffffff;
}
@media screen and (min-width: 701px) {
    .SkooleFont {
    font-size: 120px;
    }
}

@media screen and (max-width: 700px) {
    .SkooleFont {
    font-size: 50px;
    }
}
.h0{
    font-family: Bree Serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
  
    text-align: left;

    color: #ffffff;
}
@media screen and (min-width: 701px) {
    .h0 {
    font-size: 40px;
    }
}

@media screen and (max-width: 700px) {
   .h0 {
    font-size: 26px;
    }
}
.result2{
   

    font-family: Bree Serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    text-align: center;
    color: #ffffff;
}
@media screen and (min-width: 501px) {
    .result2 {
    font-size: 40px;
    }
}

@media screen and (max-width: 500px) {
   .result2 {
    font-size: 25px;
    }
}
.result{

    font-family: Bree Serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
 
    text-align: center;

    color: white;
}
@media screen and (min-width: 501px) {
    .result {
    font-size: 70px;
    }
}

@media screen and (max-width: 500px) {
   .result{
    font-size: 40px;
    }
}
.navFont{

    font-family: Bree Serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 26px;
    text-align: center;
    color: #ffffff;
}

.formFont{
    font-family: Bree Serif;
    font-weight: normal;
    text-align: center;
    color: #ffffff;
    margin-left: 18px;
}
@media screen and (min-width: 501px) {
    .formFont{
    font-size: 22px;
    }
}

@media screen and (max-width: 500px) {
   .formFont{
    font-size: 14px;
    }
}
.flex-container {
    display: flex;
    flex-wrap: nowrap;
   
  }
.regFont{

    font-family: Bree Serif;
    font-weight: normal;
    font-size: 10px;
    opacity: 1;
    text-align: left;
    color: #ffffff;
}
@media screen and (min-width: 501px) {
    .regFont{
    font-size: 22px;
    }
}

@media screen and (max-width: 500px) {
   .regFont{
    font-size: 18px;
    }
}
.h1{

font-family: Bree Serif;
font-style: normal;
font-weight: regular;
line-height: normal;
text-align: center;
margin-left: 18px;
color: #FFFFFF;
}
@media screen and (min-width: 501px) {
    .h1 {
    font-size: 70px;
    }
}

@media screen and (max-width: 500px) {
   .h1 {
    font-size: 50px;
    }
}
.paragraph{
    margin-left: 5%;
    font-family: Bree Serif;
    font-size: 20px;
}
.comment-result{
    font-family: Bree Serif;
    text-align: center;
    margin-left: 18%;
    color:grey;
}
.middle{
    margin-left: 10%;
}
.background{
    background-color:white;
    width: 100px;
    border: 25px #ED6A5A;
    padding: 25px;
    margin: 25px;
    
}
.background-about{
    background-color:white;
    width: 80%;
    border: 25px #ED6A5A;
    border-radius: 20px;
    padding: 25px;
    margin-left:10%;
    
    
}
.background-result{
    background-color:white;
    width: 50%;
    border: 25px #ED6A5A;
    border-radius: 10px;
    padding: 10px;
    margin-left:25%;
    
    
}
.h2{
    font-family: Bree Serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;

    text-align: center;
    margin-left: 18px;
    color: #ffffff;
    }
    @media screen and (min-width: 501px) {
        .h2 {
        font-size: 35px;
        }
         .flex-container > #participate{
             margin-left: 31px;
        }
        .flex-container > #total{
            padding-right: 50px;
            padding-top: 11px;
        }
    }
    
    @media screen and (max-width: 500px) {
       .h2 {
        font-size: 25px;
        }
    }
.btn{
    margin-bottom: 15px; 
    
}

.label_tag{
    font-family: Bree Serif;
    font-size: 18px;
    color: #ffffff;
    opacity: 1;
}
.tab{
    margin-left: 70px; 
    margin-right: 800px;
    position: center;
    
    
}
.tab2{
    width: 100%;
    margin-left: 90px; 
    margin-right: 80px;
    position: center;
    
    
}
.tab3{
    margin-left:  20px; 
    margin-right: 80px;
    position: center;
    
    
}
.tab4{
    margin-left:  15px; 
    position: center;
    
    
}
.tab5{
    margin-left:  25%; 
    position: center;
    
    
}
input[type=text], select, textarea {
        width: 90%;
        padding: 6px; 
        border: 1px solid #ccc; 
        border-radius: 30px; 
        box-sizing: border-box; 
        margin-top: 6px; 
        margin-bottom: 16px; 
        resize: vertical; 
    }
    ::placeholder {
        color: #808080;
        font-size: 14px;
      }
    input[type=email], select, textarea {
        width: 90%; 
        padding: 6px; 
        border: 1px solid #ccc; 
        border-radius: 30px; 
        box-sizing: border-box; 
        margin-top: 6px; 
        margin-bottom: 16px; 
        resize: vertical 
    }
    
    input[type=date], select, textarea {
        width: 90%;
        padding: 6px; 
        border: 1px solid #ffffff; 
        border-radius: 20px; 
        box-sizing: border-box; 
        margin-top: 6px; 
        margin-bottom: 16px; 
        resize: vertical ;
    }
    .datetime-placeholder {
        color: #808080;
    }
    
    input[type=password], select, textarea {
        width: 90%; 
        padding: 6px; 
        border: 1px solid #ccc; 
        border-radius: 30px; 
        box-sizing: border-box; 
        margin-top: 6px; 
        margin-bottom: 16px; 
        resize: vertical;
    }
    input[type=submit] {
        font-family: Bree Serif;
        font-size: 16px;
        background-color: #ED6A5A;
        color: #ffffff;
        border: 1px solid #ED6A5A;
        margin-top: 13px; 
        /* margin-left: -25px;  */
        padding: 12px 25px;
        border-radius: 30px;
        cursor: pointer;
        padding: 6px 50px;
        margin-top: 2rem;
    }
    
    input[type=submit]:hover {
        font-size: 18px;
        font-family: Bree Serif;
        background-color: #ffffff;
        color: #ED6A5A;
       
    }
    .navbar.transparent.navbar-inverse .navbar-inner {
        border-width: 0px;
        -webkit-box-shadow: 0px 0px;
        box-shadow: 0px 0px;
        background-color: rgba(0,0,0,0.0);
        background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
        background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
        background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    }
    
    .errorlist{
        font-size: 20px;
        font-weight: bold;
    }

    #part-container{
        margin-top: 50px; 
        text-align: center;
    }

    .flex-container{
        display: flex;
    }

    .flex-container > #participate{
        margin-left: 182px;
        padding:10px;
        font-size: 14px;
    }

    .flex-container > #total{
        margin: 0px;
        padding:10px;
        font-size: 14px;
    }