{% extends "base.html" %}
{% load static %}
{% block content %}


<head>
	
	<title>Event Page</title>
	
	<link rel="stylesheet" href="{% static 'AppEvent\style.css' %}">
	
</head>


<body class="body-background" background="{% static 'AppEvent\event-page.png' %}">
		
	

	<div class="text-setting container-fluid text-center">
		<br><br><br><h3 style="font-size: 2.5vw;">Events</h3>
		<p class="main-text-setting" style="font-size: 8vw">See upcoming events</p>
	
		<div class = "btn"><a href= "\event-page\list"><input type="submit" value= "See Event" action = ""></a></div>
		<br><br><br>
	</div>
	
	
	
</body>
{% endblock %}