{% extends "base.html" %}
{% load static %}
{% block content %}
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Event List</title>

	<link rel="stylesheet" href="{% static "AppEvent\style.css" %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
</head>
<body class="body-background-color" background= "{% static '../static/yellow.png' %}">
	<div class="text-setting-upcoming container-fluid">
		<div class="text-right h2">
			<p>Upcoming</p>
			<p>Events</p>
		</div>

		<div class="row" style="margin: 5vw">
			<div class="col-md-4">
				<div class="row justify-content-center">
					<img class="img-responsive" src="{% static "AppEvent\event-1.jpg" %}" alt="event 1">
				</div>
				<div class="row justify-content-center">
					<a href="\event-page\list\preview-1"><button type="button" class="button-setting-small">See details</button></a>
				</div>
				<br>
			</div>
			
			<div class="col-md-4">
				<div class="row justify-content-center">
					<img class="img-responsive" src="{% static "AppEvent\event-2.jpg" %}" alt="event 2">
				</div>
				<div class="row justify-content-center">
					<a href="\event-page\list\preview-2"><button type="button" class="button-setting-small">See details</button></a>
				</div>
				<br>
			</div>
			
			<div class="col-md-4">
				<div class="row justify-content-center">
					<img class="img-responsive" src="{% static "AppEvent\event-3.jpg" %}" alt="event 3">
				</div>
				<div class="row justify-content-center">
					<a href="\event-page\list\preview-3"><button type="button" class="button-setting-small">See details</button></a>
				</div>
			</div>
		</div>
		
	</div>
	{% include "footer.html" %}
</body>
{% endblock %}