{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
	
	<title>Event Preview</title>

</head>

<body class = "body-background-color" background= "{% static '../static/yellow.png' %}">

	<div class="col text-setting-upcoming container-fluid">
		<div class="row container-fluid">
			<a href="\event-page\list">
				<p style="color: #ED6A5A; margin-left: 2vw"><<< Back</p>
			</a>
		</div>

		<div class="row container-fluid" style="">
			<div class="col">
				<div class="row justify-content-center">
					<img class="img-responsive-big" src={{image}} alt="event">
				</div>
				<div class="row justify-content-center">
					<a href="/event-page/list/preview/registered-participants">
						<button type="button" class="button-setting-small" style="margin-right: Zvw">See other participants</button>
					</a><br>
					{% for events in listevent %}
					{% if user.is_authenticated %}
					<!--a href="/register-event/success"-->
						<button onclick="daftarUser('{{events.judul}}')" type="button" class="button-setting-small">Book this event</button>
					</a>
					{% else %}
					<script>alert("Warning : to book this event, please login first.")</script>
					<!--a href="/"-->
						<button onclick="daftarUser('Failed')" type="button" class="button-setting-small">Book this event</button>
					</a>
					{% endif %}
				</div>
			</div>

			<div class="col justify-content-start">
				<ul style="color: black;">
					<p style="color: black; font-size: 4.5vw;">{{ events.judul }} <br></p>
					<p style="font-size: 2.5vw">{{ events.tanggal }} <br></p>
					<p style="font-size: 2.5vw">{{ events.deskripsi }} <br></p>
					{% endfor %}
				</ul>
			</div>
		</div>
		<br>
	</div>
	
</body>

<script>
	function daftarUser(argument) {
		if(argument === "Failed"){
			alert("We've told you to login first. Now redirecting to home.")
			window.location.href = "/"
		}
		else {
			$.ajax({
				url:'/api/event/data',
				data:{'eventName':argument},
				dataType:'json',
				success:function(result){
					if(result.data === 'Success'){
						window.location.href = "/register-event/success"
					}
					else {
						alert("You're already registered to this event.")
					}
				}
			})
		}
	}
</script>

{% endblock %}