{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
	
	<title>Registered Participants</title>

</head>

<body class = "body-background-color" background= "{% static '../static/yellow.png' %}">
	<div class="text-setting-upcoming container-fluid">
		<div class="text-right h2" style="color: #ED6A5A;">
			<p>Registered</p>
			<p>Participants</p>
		</div>

		<div class="container-fluid">
			<a href={{ back }}>
				<p style="color: #ED6A5A; margin-left: 2vw"><<< Back</p>
			</a>
		</div>		
		<div>
			<p style="color: black; font-size: 3vw">{{ event }}</p>
			<ul>
				{% for user in listuser %}
					<div style="margin-right: 5vw">
						<li class="list-group-item" style="background-color: #ED6A5AFF; color: black; border-radius: 2vw;">
							{{ user.username }} 
							<br> 
							{{ user.email }}
						</li>						
					</div><br>
				{% endfor %}
			</ul>
		</div>
		{% include "footer.html" %}
	</div>
</body>
{% endblock %}