{% extends "base.html" %}
{% load static %}
{% block content %}
<head>
    <title>About Skoole.</title>
</head>
<body class = " container-fluid " style="background-color:#ED6A5A"> 
        <br><br>
    <div class= "background-about">
        
        <div class= "h1" style="color: grey; font-family: Bree serif;">
            Skoole.
        </div>
        <div class="h2"style="color: grey; font-family: Bree serif;" >A place for you to have fun</div>
        <p class="paragraph" style="color: grey" >
            Skoole is a platform for you to experience new events in Universitas Indonesia. Skoole was established in 2018 by a group of students in faculty
            of computer science. Skoole provides you a lot of event you can enjoy with your friends and family. In Skoole you can also get updated information about trending event at the time!. Cool right? Join us now!.
        </p>
    </div>
    <br><br><br>
<div class=" row container-fluid f">
   
    <div class = " col-md-12">
        {% if user.is_authenticated %}
        <div class = "h1 row">
            <div class = "col-md-2 "></div>
                <div class = "col-md-8 col-sm-12" style="font-size:35px" >
                   Leave us your comment!
                </div>
            <div class = "col-md-2"></div>      
        </div>
        
        <div class = "h2">
            <form action ="" id="form" method="POST" style= "font-size:20px;width:80%; margin-left: 10%">
                    {% csrf_token %}
                    {% for komentar in make_comment %}
                        <h3>{{ komentar.label_tag }} <br> {{ komentar }}</h3>
                    {% endfor %}
                    <div class = "row">
                        <div class = "col-md-2 "></div>
                            <div class = " col-md-8 col-sm-12">
                                 <input type="submit" id ="share-button" value= "Share" action = "{% url 'comment' %}">
                            </div>
                        <div class = "col-md-2"></div>     
                    </div>
            </form>
            {% else %}  
            <div class="col-md-12  formFont" style="margin-left:2%; color: white"><br><br>You must login to comment!<br>Click <a href="{% url 'landingpage' %}"> here</a>  to login</div>
        </div>
    </div>
        <br><br>
        {% endif %}  
        <div class = "col-md-12">  
               
            <br> <br>
            <div class="tab5 formFont" id= "comments"style= " color: grey;width:50%; font-family: Bree serif;">  
                {% if show_comment %}
                <div>
                    <div class = "formFont w3-center" style="color: white; " >Testimonial:</div>
                </div>
            
                {% for result in show_comment %}
                <div class="background-result formFont w3-center"style="color: black; font-size:14px" >  
                        {{result.name}} - {{ result.time }}<br><div style="color: grey;">{{ result.comment }}</div>
                
                </div><br>
             
                {% endfor %}
                {% else %}
                    <br>
                    <h3 class= "h3 w3-center" id="comment"> 
                        Be the first one to tell the world!
                    </h3>
                {% endif %}
                
                </div>
            

                <br><br><br> 
            </div>
            
     </div>
</body>
<script>
    $('#form').on('submit', function(event){
    event.preventDefault();
    console.log("succesful") 
    create_post();
});
	
function create_post() {
    console.log("comment shared succesfully") // sanity check
    $.ajax({
        url : "share-comment/", // the endpoint
        type : "POST", // http method
		async: true,
        data : { 
			'csrfmiddlewaretoken':"{{ csrf_token }}",
			share : $('#share-comment').val() }, // data sent with the post request

        // handle a successful response
       success : function(json) {
			console.log($('#share-comment').val())
			$('#share-comment').val(''); // remove the value from the input -->
            console.log(json.comment); // log the returned json to the console
			console.log("success"); // another sanity check
            $("#comment").html("");
			$("#comments").append(
                "<div class=' tab5 col-md-12 background-result  formFont'style='color: black; font-size:14px' >" +
                        json.name + " - " + json.time + "<br>" + "<div style='color: grey;'>" + json.comment + "</div> </div><br>"
    
                            );
            console.log("berhasil comment");
        },

       
        error : function(xhr,errmsg,err) {
			$('#share-comment').val('');
            console.log("Oops, something went wrong!"); // provide a bit more info about the error to the console
        } 
    });
};

</script>
{% endblock %}