.body-background {
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 100% 100%;
	
}

.body-background-color {
	background-color: #FDEAC0;
	background-image: url(./homepage.png)
}

.text-setting {
	font-family: Bree Serif;
	color: #ffffff;
}

.text-setting-upcoming {
	font-family: Bree Serif;
	color: #ED6A5A;	
}

.main-text-setting {
	font-size: 5vw;
}

.button-setting {
	font-size: 18px;
	background-color: #ED6A5A;
	color: #ffffff;	
	border-radius: 30px;
	border: 1px solid #ED6A5A;
	cursor: pointer;
	padding: 6px 50px;
}

.button-setting-small {
	font-size: 13px;
	background-color: #ED6A5A;
	color: #ffffff;	
	border-radius: 30px;
	border: 1px solid #ED6A5A;
	cursor: pointer;
	padding: 6px 50px;
}

.img-responsive {
	width: 100%;
	max-width: 23vw;
	height: auto;
	max-height: 30vw;
	border-radius: 3vw;
	margin-bottom: 1vw;
}

.img-responsive-big {
	width: 100%;
	max-width: 27vw;
	height: auto;
	max-height: 35vw;
	border-radius: 2vw;
	margin-bottom: 2vw;
}