{% load static %}
<!DOCTYPE html>
<html>

<head>

<meta charset="UTF-8">
<!--meta name="viewport" content="width=device-width, initial-scale=1"-->
<meta content="width=device-width, initial-scale=1.0, user-scalable=yes, minimum-scale=1.0, maximum-scale=3.0" id="viewport" name="viewport">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'AppEvent\style.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">    

<link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">


<link rel="stylesheet" type="text/css" href="{% static '../static/formstyle.css' %}">
<link rel="shortcut icon" type="image/png" href="{% static '../static/favicon.ico' %}"/>

<style>

</style>
</head>


<body class =  "container-float">
 <!-- NAVBAR -->
 <nav class="navbar navbar-expand-lg navbar-dark transparent navbar-inverse">
  <a class="navbar-brand active" href=""><span class="sr-only"></span></a>
  <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
  </button>
   
  <div class="collapse navbar-collapse navbar-inner" id="navbarSupportedContent">
     <ul class="navbar-nav mr-auto">
        {% if user.is_authenticated %}
        <li class="  Skoole nav-link">
                {{ user.get_full_name }}
                </li>
        {% else %}
    <li class="  Skoole nav-link">
       Skoole.
    </li>
    {% endif %}
    
   </ul>
   <ul class="navbar-nav ml-auto ">
        
        <li class="nav-item">
            <a class="navFont nav-link " href="{% url 'landingpage' %}">Home </a>
        </li>
        <li class="nav-item ">
            <a class="navFont nav-link" href="{% url 'frontnews' %}">News </a>
        </li>
        <li class="nav-item">
            <a class="navFont nav-link" href="{% url 'event_page' %}">Event </a>
        </li>
        <!-- <li class="nav-item ">
            <a class="navFont nav-link" href="{% url 'faq' %}">FAQs </a>
        </li> -->

        <li class="nav-item">
                <a class="navFont nav-link" href="{% url 'comment' %}">About</a>
            </li>

        {% if user.is_authenticated %}
        <li class="nav-item">
            <a class="navFont nav-link" href="{% url 'participated-event' %}" id="participated-event">Account</a>
        </li>
        <li class="nav-item">
                <a class="navFont nav-link" href="{% url 'logout' %}">Log out</a>
            </li>
        {% else %}
        {% endif %}
        

   </ul>
  </div>
 </nav>


    {% block content %}
    {% endblock %}
 
</body>
</html>